$result-width: 480px;

.row {
  display: flex;
  flex-direction: row;
}

.main-container {
  background: #f1f5f9;
}

.book-info{
  width: inherit;
  box-shadow: none;
}

.searchbar {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #f1f5f9;
  .search-type {
    width: 100px
  }
}

.paginator {
  background: #f1f5f9;
}

.cover-container {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 180px;
  .cover{
    max-width: 180px;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px;
  .search-button {
    box-shadow: none;
    background: none;
  }
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.text-center {
  text-align: center;
}

.result-grid {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  grid-template-columns: repeat(auto-fill, minmax(530px, 1fr));
  .result {
    width: $result-width;
    padding: 15px;
    margin: 20px auto;
    align-items: flex-start;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 4px 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    .rank {
      justify-content: flex-start;
      margin: 10px 0;
      .star {
        color: #fbb341
      }
    }
    .options-button {
      margin-left: auto;
    }
  }
}

.wrap-text {
  white-space: pre-wrap;
}

.dense-grid {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  align-items: center;
  justify-items: center;
  .item1 {
    border: 1px solid black;
    width: 100px;
    height: 100px;
  }
  .item2 {
    border: 1px solid black;
    width: 200px;
    height: 100px;
  }
  .item3 {
    border: 1px solid black;
    width: 100px;
    height: 200px;
  }
}
